<div class="grid-row">
  <div class="grid-col-12">
    <h1 class="usa-prose">Edit Basic Information</h1>
    <p class="usa-intro">
      Please review and update your basic information below.
    </p>
    
    <%= render 'form' %>
  </div>
</div>
