<div class="grid-row">
  <div class="grid-col-12 usa-prose">
    <h1>Verify Your Medicaid Requirements</h1>
    <p class="usa-intro">
      Starting in 2027, many people receiving Medicaid will need to regularly verify that they meet Community Engagement Requirements in order to maintain their healthcare.
    </p>
    <p class="usa-intro">
      This prototype website will help you verify that you meet these requirements.
    </p>
    
    <%= render 'form' %>
  </div>
</div>
